/* colors */
$color-primary: #DA262D;
$color-blue: #2B7E93;
$color-black: #58595B;
$color-white: #FFF;
$button-primary: #FEB648;
$links-primary: #666666;
$background-primary: #E9E9E9;
$border-primary: #D2D2D2;

/*  fonts */
$font-Nexa: 'Nexa', sans-serif;
/*$font-Lora: 'Lora', serif;*/
